@keyframes rotateShadow {
    
    
    100%{
        box-shadow:  2px 0px 6px  1px #000000;
    }
    
    99%{
        box-shadow:  1.9960534568565431px 0.12558103905862675px 6px  1px #000000;
    }
    
    98%{
        box-shadow:  1.9842294026289558px 0.2506664671286085px 6px  1px #000000;
    }
    
    97%{
        box-shadow:  1.9645745014573774px 0.3747626291714492px 6px  1px #000000;
    }
    
    96%{
        box-shadow:  1.9371663222572622px 0.4973797743297096px 6px  1px #000000;
    }
    
    95%{
        box-shadow:  1.902113032590307px 0.6180339887498948px 6px  1px #000000;
    }
    
    94%{
        box-shadow:  1.859552971776503px 0.7362491053693558px 6px  1px #000000;
    }
    
    93%{
        box-shadow:  1.809654104932039px 0.8515585831301454px 6px  1px #000000;
    }
    
    92%{
        box-shadow:  1.7526133600877272px 0.9635073482034306px 6px  1px #000000;
    }
    
    91%{
        box-shadow:  1.6886558510040302px 1.0716535899579933px 6px  1px #000000;
    }
    
    90%{
        box-shadow:  1.618033988749895px 1.1755705045849463px 6px  1px #000000;
    }
    
    89%{
        box-shadow:  1.5410264855515785px 1.2748479794973793px 6px  1px #000000;
    }
    
    88%{
        box-shadow:  1.457937254842823px 1.3690942118573772px 6px  1px #000000;
    }
    
    87%{
        box-shadow:  1.3690942118573775px 1.457937254842823px 6px  1px #000000;
    }
    
    86%{
        box-shadow:  1.2748479794973793px 1.5410264855515785px 6px  1px #000000;
    }
    
    85%{
        box-shadow:  1.1755705045849463px 1.618033988749895px 6px  1px #000000;
    }
    
    84%{
        box-shadow:  1.071653589957993px 1.6886558510040302px 6px  1px #000000;
    }
    
    83%{
        box-shadow:  0.9635073482034303px 1.7526133600877274px 6px  1px #000000;
    }
    
    82%{
        box-shadow:  0.8515585831301453px 1.8096541049320392px 6px  1px #000000;
    }
    
    81%{
        box-shadow:  0.7362491053693562px 1.8595529717765027px 6px  1px #000000;
    }
    
    80%{
        box-shadow:  0.6180339887498949px 1.902113032590307px 6px  1px #000000;
    }
    
    79%{
        box-shadow:  0.4973797743297099px 1.9371663222572622px 6px  1px #000000;
    }
    
    78%{
        box-shadow:  0.3747626291714495px 1.9645745014573772px 6px  1px #000000;
    }
    
    77%{
        box-shadow:  0.2506664671286085px 1.9842294026289558px 6px  1px #000000;
    }
    
    76%{
        box-shadow:  0.12558103905862705px 1.9960534568565431px 6px  1px #000000;
    }
    
    75%{
        box-shadow:  1.2246467991473532e-16px 2px 6px  1px #000000;
    }
    
    74%{
        box-shadow:  -0.1255810390586268px 1.9960534568565431px 6px  1px #000000;
    }
    
    73%{
        box-shadow:  -0.25066646712860874px 1.9842294026289555px 6px  1px #000000;
    }
    
    72%{
        box-shadow:  -0.37476262917144965px 1.9645745014573772px 6px  1px #000000;
    }
    
    71%{
        box-shadow:  -0.49737977432970926px 1.9371663222572624px 6px  1px #000000;
    }
    
    70%{
        box-shadow:  -0.6180339887498947px 1.9021130325903073px 6px  1px #000000;
    }
    
    69%{
        box-shadow:  -0.736249105369356px 1.859552971776503px 6px  1px #000000;
    }
    
    68%{
        box-shadow:  -0.8515585831301454px 1.809654104932039px 6px  1px #000000;
    }
    
    67%{
        box-shadow:  -0.9635073482034309px 1.752613360087727px 6px  1px #000000;
    }
    
    66%{
        box-shadow:  -1.0716535899579938px 1.68865585100403px 6px  1px #000000;
    }
    
    65%{
        box-shadow:  -1.175570504584946px 1.618033988749895px 6px  1px #000000;
    }
    
    64%{
        box-shadow:  -1.2748479794973795px 1.5410264855515785px 6px  1px #000000;
    }
    
    63%{
        box-shadow:  -1.3690942118573775px 1.4579372548428229px 6px  1px #000000;
    }
    
    62%{
        box-shadow:  -1.4579372548428227px 1.3690942118573777px 6px  1px #000000;
    }
    
    61%{
        box-shadow:  -1.5410264855515783px 1.2748479794973797px 6px  1px #000000;
    }
    
    60%{
        box-shadow:  -1.6180339887498947px 1.1755705045849465px 6px  1px #000000;
    }
    
    59%{
        box-shadow:  -1.6886558510040297px 1.071653589957994px 6px  1px #000000;
    }
    
    58%{
        box-shadow:  -1.752613360087727px 0.9635073482034312px 6px  1px #000000;
    }
    
    57%{
        box-shadow:  -1.8096541049320387px 0.8515585831301458px 6px  1px #000000;
    }
    
    56%{
        box-shadow:  -1.8595529717765027px 0.7362491053693563px 6px  1px #000000;
    }
    
    55%{
        box-shadow:  -1.902113032590307px 0.618033988749895px 6px  1px #000000;
    }
    
    54%{
        box-shadow:  -1.9371663222572622px 0.49737977432970965px 6px  1px #000000;
    }
    
    53%{
        box-shadow:  -1.9645745014573772px 0.37476262917145003px 6px  1px #000000;
    }
    
    52%{
        box-shadow:  -1.9842294026289555px 0.25066646712860907px 6px  1px #000000;
    }
    
    51%{
        box-shadow:  -1.9960534568565431px 0.12558103905862716px 6px  1px #000000;
    }
    
    50%{
        box-shadow:  -2px 2.4492935982947064e-16px 6px  1px #000000;
    }
    
    49%{
        box-shadow:  -1.9960534568565431px -0.1255810390586267px 6px  1px #000000;
    }
    
    48%{
        box-shadow:  -1.9842294026289558px -0.25066646712860857px 6px  1px #000000;
    }
    
    47%{
        box-shadow:  -1.9645745014573772px -0.37476262917144954px 6px  1px #000000;
    }
    
    46%{
        box-shadow:  -1.9371663222572622px -0.49737977432971003px 6px  1px #000000;
    }
    
    45%{
        box-shadow:  -1.902113032590307px -0.6180339887498955px 6px  1px #000000;
    }
    
    44%{
        box-shadow:  -1.8595529717765025px -0.7362491053693566px 6px  1px #000000;
    }
    
    43%{
        box-shadow:  -1.8096541049320394px -0.8515585831301445px 6px  1px #000000;
    }
    
    42%{
        box-shadow:  -1.7526133600877274px -0.96350734820343px 6px  1px #000000;
    }
    
    41%{
        box-shadow:  -1.6886558510040304px -1.0716535899579929px 6px  1px #000000;
    }
    
    40%{
        box-shadow:  -1.618033988749895px -1.175570504584946px 6px  1px #000000;
    }
    
    39%{
        box-shadow:  -1.5410264855515785px -1.2748479794973793px 6px  1px #000000;
    }
    
    38%{
        box-shadow:  -1.457937254842823px -1.3690942118573775px 6px  1px #000000;
    }
    
    37%{
        box-shadow:  -1.369094211857378px -1.4579372548428227px 6px  1px #000000;
    }
    
    36%{
        box-shadow:  -1.274847979497379px -1.5410264855515787px 6px  1px #000000;
    }
    
    35%{
        box-shadow:  -1.1755705045849465px -1.6180339887498947px 6px  1px #000000;
    }
    
    34%{
        box-shadow:  -1.0716535899579926px -1.6886558510040306px 6px  1px #000000;
    }
    
    33%{
        box-shadow:  -0.9635073482034305px -1.7526133600877272px 6px  1px #000000;
    }
    
    32%{
        box-shadow:  -0.8515585831301443px -1.8096541049320396px 6px  1px #000000;
    }
    
    31%{
        box-shadow:  -0.7362491053693572px -1.8595529717765023px 6px  1px #000000;
    }
    
    30%{
        box-shadow:  -0.6180339887498951px -1.902113032590307px 6px  1px #000000;
    }
    
    29%{
        box-shadow:  -0.4973797743297106px -1.937166322257262px 6px  1px #000000;
    }
    
    28%{
        box-shadow:  -0.37476262917144926px -1.9645745014573774px 6px  1px #000000;
    }
    
    27%{
        box-shadow:  -0.2506664671286092px -1.9842294026289555px 6px  1px #000000;
    }
    
    26%{
        box-shadow:  -0.12558103905862641px -1.9960534568565431px 6px  1px #000000;
    }
    
    25%{
        box-shadow:  -3.6739403974420594e-16px -2px 6px  1px #000000;
    }
    
    24%{
        box-shadow:  0.12558103905862567px -1.9960534568565431px 6px  1px #000000;
    }
    
    23%{
        box-shadow:  0.25066646712860846px -1.9842294026289558px 6px  1px #000000;
    }
    
    22%{
        box-shadow:  0.37476262917144854px -1.9645745014573774px 6px  1px #000000;
    }
    
    21%{
        box-shadow:  0.49737977432970987px -1.9371663222572622px 6px  1px #000000;
    }
    
    20%{
        box-shadow:  0.6180339887498945px -1.9021130325903073px 6px  1px #000000;
    }
    
    19%{
        box-shadow:  0.7362491053693565px -1.8595529717765025px 6px  1px #000000;
    }
    
    18%{
        box-shadow:  0.8515585831301437px -1.8096541049320398px 6px  1px #000000;
    }
    
    17%{
        box-shadow:  0.9635073482034299px -1.7526133600877276px 6px  1px #000000;
    }
    
    16%{
        box-shadow:  1.071653589957992px -1.688655851004031px 6px  1px #000000;
    }
    
    15%{
        box-shadow:  1.1755705045849458px -1.6180339887498951px 6px  1px #000000;
    }
    
    14%{
        box-shadow:  1.2748479794973786px -1.5410264855515792px 6px  1px #000000;
    }
    
    13%{
        box-shadow:  1.3690942118573772px -1.457937254842823px 6px  1px #000000;
    }
    
    12%{
        box-shadow:  1.4579372548428224px -1.369094211857378px 6px  1px #000000;
    }
    
    11%{
        box-shadow:  1.5410264855515787px -1.2748479794973793px 6px  1px #000000;
    }
    
    10%{
        box-shadow:  1.6180339887498947px -1.1755705045849467px 6px  1px #000000;
    }
    
    9%{
        box-shadow:  1.6886558510040304px -1.0716535899579926px 6px  1px #000000;
    }
    
    8%{
        box-shadow:  1.7526133600877272px -0.9635073482034306px 6px  1px #000000;
    }
    
    7%{
        box-shadow:  1.8096541049320394px -0.8515585831301444px 6px  1px #000000;
    }
    
    6%{
        box-shadow:  1.8595529717765023px -0.7362491053693574px 6px  1px #000000;
    }
    
    5%{
        box-shadow:  1.902113032590307px -0.6180339887498952px 6px  1px #000000;
    }
    
    4%{
        box-shadow:  1.937166322257262px -0.4973797743297107px 6px  1px #000000;
    }
    
    3%{
        box-shadow:  1.9645745014573774px -0.37476262917144937px 6px  1px #000000;
    }
    
    2%{
        box-shadow:  1.9842294026289555px -0.2506664671286093px 6px  1px #000000;
    }
    
    1%{
        box-shadow:  1.9960534568565431px -0.12558103905862653px 6px  1px #000000;
    }
    
    0%{
        box-shadow:  2px -4.898587196589413e-16px 6px  1px #000000;
    }
    
}