undefined
    
    0%{
        box-shadow:  1px 0px 1px  1px;
    }
    
    
    1%{
        box-shadow:  0.9980267284282716px 0.06279051952931337px 1px  1px;
    }
    
    
    2%{
        box-shadow:  0.9921147013144779px 0.12533323356430426px 1px  1px;
    }
    
    
    3%{
        box-shadow:  0.9822872507286887px 0.1873813145857246px 1px  1px;
    }
    
    
    4%{
        box-shadow:  0.9685831611286311px 0.2486898871648548px 1px  1px;
    }
    
    
    5%{
        box-shadow:  0.9510565162951535px 0.3090169943749474px 1px  1px;
    }
    
    
    6%{
        box-shadow:  0.9297764858882515px 0.3681245526846779px 1px  1px;
    }
    
    
    7%{
        box-shadow:  0.9048270524660195px 0.4257792915650727px 1px  1px;
    }
    
    
    8%{
        box-shadow:  0.8763066800438636px 0.4817536741017153px 1px  1px;
    }
    
    
    9%{
        box-shadow:  0.8443279255020151px 0.5358267949789967px 1px  1px;
    }
    
    
    10%{
        box-shadow:  0.8090169943749475px 0.5877852522924731px 1px  1px;
    }
    
    
    11%{
        box-shadow:  0.7705132427757893px 0.6374239897486896px 1px  1px;
    }
    
    
    12%{
        box-shadow:  0.7289686274214116px 0.6845471059286886px 1px  1px;
    }
    
    
    13%{
        box-shadow:  0.6845471059286887px 0.7289686274214116px 1px  1px;
    }
    
    
    14%{
        box-shadow:  0.6374239897486896px 0.7705132427757893px 1px  1px;
    }
    
    
    15%{
        box-shadow:  0.5877852522924731px 0.8090169943749475px 1px  1px;
    }
    
    
    16%{
        box-shadow:  0.5358267949789965px 0.8443279255020151px 1px  1px;
    }
    
    
    17%{
        box-shadow:  0.48175367410171516px 0.8763066800438637px 1px  1px;
    }
    
    
    18%{
        box-shadow:  0.42577929156507266px 0.9048270524660196px 1px  1px;
    }
    
    
    19%{
        box-shadow:  0.3681245526846781px 0.9297764858882513px 1px  1px;
    }
    
    
    20%{
        box-shadow:  0.30901699437494745px 0.9510565162951535px 1px  1px;
    }
    
    
    21%{
        box-shadow:  0.24868988716485496px 0.9685831611286311px 1px  1px;
    }
    
    
    22%{
        box-shadow:  0.18738131458572474px 0.9822872507286886px 1px  1px;
    }
    
    
    23%{
        box-shadow:  0.12533323356430426px 0.9921147013144779px 1px  1px;
    }
    
    
    24%{
        box-shadow:  0.06279051952931353px 0.9980267284282716px 1px  1px;
    }
    
    
    25%{
        box-shadow:  6.123233995736766e-17px 1px 1px  1px;
    }
    
    
    26%{
        box-shadow:  -0.0627905195293134px 0.9980267284282716px 1px  1px;
    }
    
    
    27%{
        box-shadow:  -0.12533323356430437px 0.9921147013144778px 1px  1px;
    }
    
    
    28%{
        box-shadow:  -0.18738131458572482px 0.9822872507286886px 1px  1px;
    }
    
    
    29%{
        box-shadow:  -0.24868988716485463px 0.9685831611286312px 1px  1px;
    }
    
    
    30%{
        box-shadow:  -0.30901699437494734px 0.9510565162951536px 1px  1px;
    }
    
    
    31%{
        box-shadow:  -0.368124552684678px 0.9297764858882515px 1px  1px;
    }
    
    
    32%{
        box-shadow:  -0.4257792915650727px 0.9048270524660195px 1px  1px;
    }
    
    
    33%{
        box-shadow:  -0.48175367410171543px 0.8763066800438635px 1px  1px;
    }
    
    
    34%{
        box-shadow:  -0.5358267949789969px 0.844327925502015px 1px  1px;
    }
    
    
    35%{
        box-shadow:  -0.587785252292473px 0.8090169943749475px 1px  1px;
    }
    
    
    36%{
        box-shadow:  -0.6374239897486897px 0.7705132427757893px 1px  1px;
    }
    
    
    37%{
        box-shadow:  -0.6845471059286887px 0.7289686274214114px 1px  1px;
    }
    
    
    38%{
        box-shadow:  -0.7289686274214113px 0.6845471059286888px 1px  1px;
    }
    
    
    39%{
        box-shadow:  -0.7705132427757891px 0.6374239897486899px 1px  1px;
    }
    
    
    40%{
        box-shadow:  -0.8090169943749473px 0.5877852522924732px 1px  1px;
    }
    
    
    41%{
        box-shadow:  -0.8443279255020149px 0.535826794978997px 1px  1px;
    }
    
    
    42%{
        box-shadow:  -0.8763066800438635px 0.4817536741017156px 1px  1px;
    }
    
    
    43%{
        box-shadow:  -0.9048270524660194px 0.4257792915650729px 1px  1px;
    }
    
    
    44%{
        box-shadow:  -0.9297764858882513px 0.36812455268467814px 1px  1px;
    }
    
    
    45%{
        box-shadow:  -0.9510565162951535px 0.3090169943749475px 1px  1px;
    }
    
    
    46%{
        box-shadow:  -0.9685831611286311px 0.24868988716485482px 1px  1px;
    }
    
    
    47%{
        box-shadow:  -0.9822872507286886px 0.18738131458572502px 1px  1px;
    }
    
    
    48%{
        box-shadow:  -0.9921147013144778px 0.12533323356430454px 1px  1px;
    }
    
    
    49%{
        box-shadow:  -0.9980267284282716px 0.06279051952931358px 1px  1px;
    }
    
    
    50%{
        box-shadow:  -1px 1.2246467991473532e-16px 1px  1px;
    }
    
    
    51%{
        box-shadow:  -0.9980267284282716px -0.06279051952931335px 1px  1px;
    }
    
    
    52%{
        box-shadow:  -0.9921147013144779px -0.12533323356430429px 1px  1px;
    }
    
    
    53%{
        box-shadow:  -0.9822872507286886px -0.18738131458572477px 1px  1px;
    }
    
    
    54%{
        box-shadow:  -0.9685831611286311px -0.24868988716485502px 1px  1px;
    }
    
    
    55%{
        box-shadow:  -0.9510565162951535px -0.30901699437494773px 1px  1px;
    }
    
    
    56%{
        box-shadow:  -0.9297764858882512px -0.3681245526846783px 1px  1px;
    }
    
    
    57%{
        box-shadow:  -0.9048270524660197px -0.42577929156507227px 1px  1px;
    }
    
    
    58%{
        box-shadow:  -0.8763066800438637px -0.481753674101715px 1px  1px;
    }
    
    
    59%{
        box-shadow:  -0.8443279255020152px -0.5358267949789964px 1px  1px;
    }
    
    
    60%{
        box-shadow:  -0.8090169943749475px -0.587785252292473px 1px  1px;
    }
    
    
    61%{
        box-shadow:  -0.7705132427757893px -0.6374239897486896px 1px  1px;
    }
    
    
    62%{
        box-shadow:  -0.7289686274214116px -0.6845471059286887px 1px  1px;
    }
    
    
    63%{
        box-shadow:  -0.684547105928689px -0.7289686274214113px 1px  1px;
    }
    
    
    64%{
        box-shadow:  -0.6374239897486895px -0.7705132427757894px 1px  1px;
    }
    
    
    65%{
        box-shadow:  -0.5877852522924732px -0.8090169943749473px 1px  1px;
    }
    
    
    66%{
        box-shadow:  -0.5358267949789963px -0.8443279255020153px 1px  1px;
    }
    
    
    67%{
        box-shadow:  -0.48175367410171527px -0.8763066800438636px 1px  1px;
    }
    
    
    68%{
        box-shadow:  -0.42577929156507216px -0.9048270524660198px 1px  1px;
    }
    
    
    69%{
        box-shadow:  -0.3681245526846786px -0.9297764858882511px 1px  1px;
    }
    
    
    70%{
        box-shadow:  -0.30901699437494756px -0.9510565162951535px 1px  1px;
    }
    
    
    71%{
        box-shadow:  -0.2486898871648553px -0.968583161128631px 1px  1px;
    }
    
    
    72%{
        box-shadow:  -0.18738131458572463px -0.9822872507286887px 1px  1px;
    }
    
    
    73%{
        box-shadow:  -0.1253332335643046px -0.9921147013144778px 1px  1px;
    }
    
    
    74%{
        box-shadow:  -0.06279051952931321px -0.9980267284282716px 1px  1px;
    }
    
    
    75%{
        box-shadow:  -1.8369701987210297e-16px -1px 1px  1px;
    }
    
    
    76%{
        box-shadow:  0.06279051952931283px -0.9980267284282716px 1px  1px;
    }
    
    
    77%{
        box-shadow:  0.12533323356430423px -0.9921147013144779px 1px  1px;
    }
    
    
    78%{
        box-shadow:  0.18738131458572427px -0.9822872507286887px 1px  1px;
    }
    
    
    79%{
        box-shadow:  0.24868988716485493px -0.9685831611286311px 1px  1px;
    }
    
    
    80%{
        box-shadow:  0.30901699437494723px -0.9510565162951536px 1px  1px;
    }
    
    
    81%{
        box-shadow:  0.36812455268467825px -0.9297764858882512px 1px  1px;
    }
    
    
    82%{
        box-shadow:  0.4257792915650718px -0.9048270524660199px 1px  1px;
    }
    
    
    83%{
        box-shadow:  0.48175367410171493px -0.8763066800438638px 1px  1px;
    }
    
    
    84%{
        box-shadow:  0.535826794978996px -0.8443279255020155px 1px  1px;
    }
    
    
    85%{
        box-shadow:  0.5877852522924729px -0.8090169943749476px 1px  1px;
    }
    
    
    86%{
        box-shadow:  0.6374239897486893px -0.7705132427757896px 1px  1px;
    }
    
    
    87%{
        box-shadow:  0.6845471059286886px -0.7289686274214116px 1px  1px;
    }
    
    
    88%{
        box-shadow:  0.7289686274214112px -0.684547105928689px 1px  1px;
    }
    
    
    89%{
        box-shadow:  0.7705132427757894px -0.6374239897486896px 1px  1px;
    }
    
    
    90%{
        box-shadow:  0.8090169943749473px -0.5877852522924734px 1px  1px;
    }
    
    
    91%{
        box-shadow:  0.8443279255020152px -0.5358267949789963px 1px  1px;
    }
    
    
    92%{
        box-shadow:  0.8763066800438636px -0.4817536741017153px 1px  1px;
    }
    
    
    93%{
        box-shadow:  0.9048270524660197px -0.4257792915650722px 1px  1px;
    }
    
    
    94%{
        box-shadow:  0.9297764858882511px -0.3681245526846787px 1px  1px;
    }
    
    
    95%{
        box-shadow:  0.9510565162951535px -0.3090169943749476px 1px  1px;
    }
    
    
    96%{
        box-shadow:  0.968583161128631px -0.24868988716485535px 1px  1px;
    }
    
    
    97%{
        box-shadow:  0.9822872507286887px -0.18738131458572468px 1px  1px;
    }
    
    
    98%{
        box-shadow:  0.9921147013144778px -0.12533323356430465px 1px  1px;
    }
    
    
    99%{
        box-shadow:  0.9980267284282716px -0.06279051952931326px 1px  1px;
    }
    